* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  font-family: "Roboto", sans-serif;
  //overflow: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
}

img {
  width: 100%;
  height: auto;
}

@import "components/page";
