* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  font-family: "Roboto", sans-serif;
  //overflow: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
}

img {
  width: 100%;
  height: auto;
}

.about-group-pic {
  width: 50%;
  height: auto;
  margin: 4rem 1rem;
}

.our-mission {
  text-align: start;
  color: cornsilk;
  background: #7300ffa8;
  padding: 2rem;
}

//SECTIONS
#gallery {
  min-height: 100vh;
  border: 1px solid lime;
}

@import "svg/svg";
@import "grid/grid-style";
@import "components/page";
@import "components/calendar";
@import "booking-icons";
@import "components/confirm-book";
@import "components/about";
@import "components/services";

.pac-container {
  background-color: #fff;
  z-index: 20;
  position: fixed;
  display: inline-block;
  float: left;
}

//PLACEHOLDER SPINNER/LOADER

.loader {
  border: 16px solid #dedbe2;
  border-radius: 50%;
  border-top: 16px solid #9364db;

  display: inline-block;
  position: absolute;

  width: 120px;
  height: 120px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//LOADING TEXT FOR SPINNER
.sending {
  //background: aqua;
  position: absolute;
  height: 2rem;
  text-indent: -50%;
  display: inline-block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 2rem;
  margin: auto;
}
