.our_mission {
  background: white;
  padding: 0 10%;
  margin: 5% 0;
}

.our_mission_text_box {
  color: cornsilk;
  background: #7300ffa8;
}

.about-employee-cards {
  padding: 2rem 0;
  min-height: 94vh;
}

.kayla-profile{
  background-size: contain;
}

.catherine-profile{
  background-size: contain;
}

.sabrina-profile{
  background-size: contain;
  background: #673ab7;
}
