.calendar-wrapper{
  background-color: #673ab7;


  @media only screen
  and (min-width: 668px)
  and (max-width: 1600px) {
    background-color: blue;
    width: 50%;
  }

}

.react-calendar{
  //Lets keep the calendar shape as a square

  /* Portrait */
  @media only screen
  and (min-width: 320px)
  and (max-width: 667px)
  and (orientation: portrait) {
    max-width: 100%;
    background-color: cyan;
  }

  /* Landscape */
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    max-width: 100%;
  }

  /* ----------- Non-Retina Screens ----------- */
  @media only screen
  and (min-width: 668px)
  and (max-width: 1600px) {
    //background-color: lime;
  }

  @media only screen
  and (min-width: 1601px) {
    background-color: #673ab7;
    color: #fff;
    font-size: 2rem;
    max-width: 50vw;
  }
}

.react-calendar__tile{
  &.calendar__tile{

  }
  //background-color: purple;
  display: initial;
  height: 10vh;
  width: 8vw;
  max-width: 8vw;
  max-height: 14vh;
}




.i-am-booked {
  background-color: #e4d9ec ;
}

