.calendar-wrapper {
  //background-color: #673ab7;
}

.react-calendar {

}

.react-calendar {
  border: 1px solid red;
  width: 50%;

}

//all calendar tiles
.react-calendar__month-view__days__day {
  padding: 5%;
  background: white;
  border-width: 0.01em;
  border-color: rgb(88.6%,88.6%,88.6%);

  //backgrounds: blue;
}

.react-calendar__tile {
  &.calendar__tile {

  }
}

//HIDE YEAR VIEW
.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__navigation__prev2-button {
  display: none;
}

//MONTH VIEW CALENDAR ARROWS
.react-calendar__navigation__next-button {
  font-size: 3rem;
}

.react-calendar__navigation__prev-button {
  font-size: 5rem;
}

.react-calendar__navigation__label {
  //height: 6rem;
}
.react-calendar__navigation__arrow {

  width: 5rem;
  //background: tomato;
  background: #673ab7;

}

.i-am-booked {
  background-color: #e4d9ec;
}


.react-calendar__navigation__label{
  font-size: 3rem;
  padding: 3rem 0;
  background: #673ab7;
  color: white;
}

.react-calendar__month-view__weekdays{
  padding-top: 2%;
  background: white;
  height: 3.6rem;

  abbr{

    padding: 2rem 0;
    text-decoration: none;
    font-size: 1.45rem;
    color: #a8a5a5;

    text-align: center;

  }


}
