.react-calendar{
  //background: lime;
  //Lets keep the calendar shape as a square
  max-width: 100%;

  button{
    //Calendar Day font-size
    font-size: 3rem;
    padding: 2rem;
  }
}

.i-am-booked {
  background-color: red !important;
}
