@import "../colors/colors";

.grey-box {
  background: $grey;
  height: 100%;
}

.we_are_list_wrapper {
  background: #ffffff;
}

.we_are_not_wrapper {
  background: #d6d6d6;
}

.what_we_do_wrapper {
  background: #d6d6d6;
}

.i-am-booked {
}
