.spacer {
  @media only screen and (max-width: 1279px) {
    display: none;
  }
}

.sp1 {
  background: orange;
  height: 6vh;
}

.sp2 {
}

.sp3 {
}

.test {
  @media only screen and (min-width: 1626px) {
    height: 58%;
  }
}

#small-img {
  position: absolute;
  right: 0;
  top: 10%;
  z-index: 10;

  @media only screen and (max-width: 1279px) {
    position: relative;
    width: 50%;
    float: right;
    top: 47%;
  }
}
