.button-type {
  padding: 2rem 6rem;
  color: white;

  margin: 2rem 4rem;
  text-decoration: none;
  font-size: 2rem;
  border: 1px solid white;
  border-radius: 4rem;
}

.one {
  background: #673ab736;
}

.two {
  background: lime;
}

.check-avail-btn-container {
  margin-top: 7rem;
  display: inline-block;
}
